<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="openemrSuite">
<parameter name="browser" value="firefox"></parameter>
  <test thread-count="5" name="loginTest">
    <classes>
      <class name="com.maveric.emrtest.LoginFeatureTest">
      <methods>
      <include name="validCredentialTest"></include>
      </methods>
      </class>
    </classes>
  </test> <!-- loginTest -->
  <test thread-count="5" name="loginTest">
    <classes>
      <class name="com.maveric.emrtest.AddPatientTest">
      <methods>
      <include name="validCredentialTest"></include>
      </methods>
      </class>
    </classes>
</suite> <!-- openemrSuite -->
